body{
	background-color: hsl(216, 12%, 8%);
	font-family: 'Overpass', sans-serif;
}

#star{
    background-color: hsl(210, 19%, 19%);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 18px;
}

.card{
    background: linear-gradient(-145deg, hsl(215, 20%, 20%), 13%, hsl(218, 26%, 10%));
    width: 20rem; 
    border: none;
    border-radius: 18px;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 40%;
}

.card h5{
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.card p{
    font-size: 15px;
    color: white;
}

.rating{
    background-color: hsl(210, 19%, 19%);
    border-radius: 50%;
    position: relative;
    right: 9px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
    color: white;
}

#submit{
    background-color: hsl(25, 97%, 53%);
    position: relative;
    left: 1%;
    margin-top: 10px;
    padding: 3px 100px;
    border-radius: 16px;
}

#submit a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
}

.attribution{
    position: fixed;
    bottom: 0;
}