body{
	background-color: hsl(216, 12%, 8%);
}

#star{
    background-color: hsl(217, 12%, 63%);
    border-radius: 50%;
    padding: 10px;
}

.card{
 width: 18rem; 
 border-radius: 18px;
 padding: 10px;
 position: absolute;
 top: 25%;
 left: 40%;
}

.rating{
    background-color: hsl(217, 12%, 63%);
    border-radius: 50%;
    padding: 10px;
}

.attribution{
    position: fixed;
    bottom: 0;
}